// ========== 変数 ========== //
$mainColor: #F2E8DA;
$subColor: #60C8B3;
$accentColor: #CE3375;
$textColor: #333;
$backgroundColor: #fef4f4;
$salomeColor: #CD3796;

$gradientPurple: linear-gradient(0deg,
                hsl(322deg 60% 51%) 0%,
                hsl(319deg 57% 51%) 14%,
                hsl(315deg 53% 51%) 24%,
                hsl(310deg 49% 51%) 33%,
                hsl(305deg 45% 50%) 42%,
                hsl(298deg 42% 51%) 50%,
                hsl(291deg 44% 52%) 59%,
                hsl(284deg 46% 54%) 68%,
                hsl(277deg 49% 56%) 81%,
                hsl(270deg 51% 58%) 100%);

$gradientBeige: linear-gradient(135deg,
                hsl(36deg 91% 96%) 0%,
                hsl(36deg 92% 95%) 11%,
                hsl(35deg 93% 94%) 22%,
                hsl(35deg 94% 93%) 33%,
                hsl(34deg 95% 93%) 44%,
                hsl(34deg 96% 92%) 56%,
                hsl(34deg 97% 91%) 67%,
                hsl(33deg 98% 90%) 78%,
                hsl(33deg 99% 90%) 89%,
                hsl(33deg 100% 89%) 100%);

//角丸で作る流体
$borderDesign01: 57% 43% 39% 61% / 62% 32% 68% 38%;
$borderDesign02: 32% 68% 46% 54% / 56% 29% 71% 44%;
$borderDesign03: 71% 29% 32% 68% / 78% 59% 41% 22%;

$textClamp: clamp(0.875rem, 0.788rem + 0.33vw, 1rem);
$headerClamp: clamp(1.5rem, 1.326rem + 0.66vw, 1.75rem);