@use "../global/mixins" as *;
@use "../global/variables" as *;

img{
  max-width: 100%;
  height: auto;
}

body{
  background-color: orange;
}

main{
  padding: 1rem;

  // タイトル
  h1{
    font-size: 3rem;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding-block: 2rem;
  }

  // 並び替えボタン
  .btn-wrapper{
  @include flexCenter(1rem);
    padding-bottom: 3rem;

    .btn{
      width: 200px;
      
      button{
          width: 100%;
          background-color: #fff;
          border-radius: 0.5rem;
          padding: 0.5rem 2rem;
          transition: all .3s;
        
      }

      button:hover{
        background-color: rgb(255, 251, 43);
      }
    }
  }

  @media (width <= 400px){
    
    .btn-wrapper{
      flex-direction: column;
    }
  }


  // 一覧表
  .monsters-list{
    background-color: #fff;
    border-radius: 0.5rem;
    max-width: 95%;
    margin-inline:auto;  
    max-height: 70vh;  
    overflow-y: auto;

    .container{
      padding: 2rem 1rem;
     @include flexCenter();
      flex-wrap: wrap;

      // 各カード
      .list-item{
        background-color: lightblue;
        box-shadow: 4px 4px 8px -5px #b3b3b3;
        border-radius: 0.5rem;
        padding: 1rem;
        text-align: center;
        flex-basis: 200px;
        @include flexColumn(1rem);

        // Number・名前
        p{
          font-size: 1.5rem;
        }
      
      }//.list-item 各カード
    }//.container
  }//.monsters-list 一覧表
}//main